{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4
}