:local(.row) {
    padding: 0.1rem 0.25rem !important;
}

:local(.item) {
    flex-basis: 100%;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

:local(.deleteLightButton) {
    padding: 0.15rem 0.3rem 0.15rem 0.3rem !important;
}
