{
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": ["prettier"],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "es6": true,
        "mocha": true
    },
    "settings": {
        "import/resolver": {
            "node": true,
            "eslint-import-resolver-typescript": true
        }
    },
    "rules": {
        "no-console": 0,
        "import/no-extraneous-dependencies": 0,
        "prettier/prettier": "error"
    }
}
