// See https://casesandberg.github.io/react-color/#examples

:local(.color) {
    width: 24px;
    height: 12px;
    border-radius: 2px;
}

:local(.swatch) {
    padding: 1px;
    background: #b7b7b7;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

:local(.popover) {
    position: absolute;
    z-index: 2;
}

:local(.cover) {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
