////// Bootstrap overrides: https://getbootstrap.com/docs/4.0/getting-started/webpack/
$spacer: 0.25rem;
$body-color: #e0e0e0;
$font-family-base: 'Exo 2', sans-serif;
$line-height-base: 1.25;

// Semantic style overrides
$dark: #424a52;

.btn {
    // Vertically centers buttons that appear in table rows
    vertical-align: unset !important;
}

$card-bg: rgba(30, 30, 30, 0.80);
$card-border-color: #5f5f5f;
$card-cap-bg: #383838;
$card-spacer-x: $spacer * 3;
$card-spacer-y: $spacer / 1.5;
.card {
    // No rounded styling for cards
    border-radius: 0 !important;
}
.card-body {
    // Custom padding to override 'padding: $card-spacer-x;'
    padding-left: $card-spacer-x !important;
    padding-right: $card-spacer-x !important;
    padding-top: $card-spacer-y / 2 !important;
    padding-bottom: $card-spacer-y / 2 !important;
}

$list-group-bg: rgba(0, 0, 0, 0); // No color
$nav-link-padding-y: 0.25rem;

$navbar-padding-x: 1.0rem;

$table-cell-padding-sm: .1rem;
$table-dark-bg: $card-bg;

// File upload
$custom-file-bg: #dcdcdc;
$custom-file-border-radius: 0;

////// Font Awesome
:not(button) > .fa {
    // No margin when icon is used in a button
    margin-right: $spacer * 2;
}

////// General-purpose

// Secondary card header
.card-header + .card-header {
    background-color: #bfbfbf;
    color: #212529;
    font-size: $spacer * 2.8;
    padding-top: $card-spacer-y / 2.8 !important;
    padding-bottom: $card-spacer-y / 2.8 !important;
}

// Mouse clicks not directly in the tools panel should pass through to the canvas
:local(.tools) {
    // Needed since the tools column div prevents pointer events from reaching the canvas
    pointer-events: none;

    .card {
        pointer-events: auto;
    }
}

@mixin allow-canvas-click {
    // Allow pointer clicks to reach the canvas...
    pointer-events: none;
    // ...except if the pointer click is on a card
    .card {
        pointer-events: auto;
    }
}
:local(.contents) {
    @include allow-canvas-click
}
:local(.nodes) {
    @include allow-canvas-click
}
:local(.tools) {
    @include allow-canvas-click
}

// Stylize buttons that appear on tools panel
:local(.tools) button {
    padding: 0.3rem 0.75rem;
    line-height: 1.25;
    // Space out adjacent buttons
    margin-right: $spacer * 2;
}
